<!doctype html>
<html lang="ar">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link ke file CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bootstrap CSS -->

    <title><%= title  %></title>
  </head>
  <body>
    <div class="container">
      <%- body %>
      
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
   
  </body>
</html>
