<body id="error-page">
    <div class="container">
        <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg" alt="gambar error" class="image">
        <p class="deskripsi">Error: Page not found!!!</p>
        <p class="url">The requested URL /<%= urlMsg %> was not found on this server</p>
        <p class="link">Please <a href="/">return</a> to the previous page</p>
    </div>
</body>
